extends layout

block content
  h2 Bookings and other enquiries

  p For bookings and other enquires click
    span=' '
    a( href='https://maps.app.goo.gl/vjPDeGSuVERUPmpq7' target="bookings" ) here.

  br
  br
