footer.navbar.bg-info.text-light.fixed-bottom
  div
    p ©
      span(id="copyright")
        script.
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      span=' WhistlingFrogs.com  Created by Crypto Girl  Powered by '
      a( style='color:white' target="discord" href="https://obyte.org") Obyte
      span=' and '
      a( style='color:white' target="discord" href="https://obytejs.com") Obyte.js
