extends layout

block content
  h2 Useful Info
  p.
    Welcome to Barbados!
    Please look through this page to get some useful local tips.

  h5 Groceries
  p You can find most of your favorite brands (Waitrose, President Choice, Craft) at
    span=' '
    a( href='http://www.massystores.com/bb/locations/' target="_blank" ) Massy Stores.

  h5 Pharmacies
  p.

  h5 Medical
  p.

  br
  br
