extends layout

block content
  h2 Home manual
  p.
    Welcome to 5 Gunsite! We hope you enjoy your stay.
    Please read through the Home Manual to make your stay as comfortable as possible.

  h5 Location
  p Fund us on Google Maps by clicking
    span=' '
    a( href='https://www.google.com/maps/place/5+Gunsite/@13.0830254,-59.5957122,18.3z/data=!4m12!1m6!3m5!1s0x8c43f756aa6efe5f:0xaf737faf724056c2!2s5+Gunsite!8m2!3d13.0828629!4d-59.5950348!3m4!1s0x8c43f756aa6efe5f:0xaf737faf724056c2!8m2!3d13.0828629!4d-59.5950348' target="_blank" ) here.

  h5 Arriving to the property
  p.
    5 Gunsite is a gated development.
    Use the code provided in your booking instructions to open the gate when you first arrive.
    You will find the Gate Remote control (blue) on a glass console table as you enter the house.

  h5 Parking
  p.
    There are 2 parking spot marked with nb 5.  The first one (closest to the house) will be on your
    left as you drive in. The second one is on your right after the pool.

  h5 Getting into the house
  p.
    Use the code provided in your booking instructions to open and close the electronic lock on the front door.

  h5 Opening the doors
  p.
    You will find a set of 2 keys on a glass console table as you enter the house.
    One key is for the upstairs balcony.  The other key is the master key for all the other doors
    in the house (except the electronic lock).

  h5 Security
  p.
    While you are staying in the property, please ensure that all windows and doors on the ground floor
    are locked when you are not in the house or at night. You can leave louver windows open.
  p.strong.red.
    Please double check that each window and door is securely locked before leaving the house.
    The window locks must me pointing left and the patio doors internal and external latches used.

  h5 Leaving the property during the day
  p.
    Make sure all the downstairs windows and doors are locked, aircone and lights are switched off.

  h5 At the end of your stay
  p.
    If you have any wet or damp towels, please hang them to dry on the balcony. Wash any dishes.
    Leave the washing machine and dishwasher doors slightly open.
  p.strong.
    Please make sure that ALL the windows and doors are locked. Aircons, fans and lights are off.
    Throw away all the garbage.

  h5 Internet, music, TV, power
  p.
    Please follow information in your booking instructions to access internet.
    There is a blue-tooth portable speaker that can be sink in with your phohe or TV.
    You can cast your Netflix or any other internet service from your phone or tablet on the TV.
    Power cuts are rear and do not last long.  However, if you need to leave the development during
    the power cut, the gate can be open manually by using keys found in the security-guard hut next to the gate.

  h5 Wind
  p.
    Use outside door latches and door stoppers to keep doors from slamming.

  h5 Garbage
  p.
    There is sunk-in garbage bin near the car park. Recyclable garbage bins are located at the gates.
    There is a waist-disposal unit in the left sink. It is operating by the cord under the sink.
    Do not keep food-waste in the bin inside the house overnight as it will attract insects.
  p.strong.
    Place garbage in plastic bags before putting it in the bin.

  h5 Laundry
  p.
    There is washer-dryer in the house with a very useful 14 min cycle for all your beach towels and swim wear.
    We usually dry close on the close rack in the balcony.
    There is also an iron and ironing board.

  h5 Aircon and Fans
  p.
    The house is quite brizzy and we only use aircon at night.  We find that the best setting is 'dry' or 'auto'.
    We have fans running and windows open during the day when we are in the house.
  p.strong.
    Make sure that windows and bedroom doors are closed when using the aircon. Remember to turn it off when you leave the house.

  br
  br
