extends layout

block content
  h2 Home manual
  p.
    Welcome to 5 Gunsite! We hope you enjoy your stay.
    Please read through this Home Manual to make your stay as comfortable as possible.

  h5 Directions from Grantley Adams International Airport
  p Gunsite development is 20 minutes by car (14 km) west of the airport. For directions from Grantley Adams International Airport to 5 Gunsite via Tom Adams Hwy click
    span=' '
    a( href='https://www.google.com/maps/dir/Grantley+Adams+International+Airport,+Barbados/13.0829717,-59.5950261/data=!4m10!4m9!1m5!1m4!1s0x8c43f4dd1a08348b:0x3275a510f358e8e8!8m2!3d13.0799387!4d-59.4872422!1m1!4e1!3e0?utm_source=mstt_0' target="directions" ) here.

  h5 Location
  p Find 5 Gunsite on Google Maps by clicking
    span=' '
    a( href='https://www.google.com/maps/place/5+Gunsite/@13.0830254,-59.5957122,18.3z/data=!4m12!1m6!3m5!1s0x8c43f756aa6efe5f:0xaf737faf724056c2!2s5+Gunsite!8m2!3d13.0828629!4d-59.5950348!3m4!1s0x8c43f756aa6efe5f:0xaf737faf724056c2!8m2!3d13.0828629!4d-59.5950348' target="_blank" ) here.

  h5 Arriving to the property
  p.
    5 Gunsite is a gated development.
    Use the code provided in your booking instructions to open the gate when you first arrive.

  h5 Parking
  p.
    There are 2 parking spots marked with number 5.  The first one (closest to the house) will be on your
    left as you drive in. The second one is on your right after the pool.

  h5 Getting into the house
  p.
    Use the code provided in your booking instructions to open and close the electronic lock on the front door.

  h5 Opening the doors
  p.
    You will be provided with a set of two keys.
    One key is for the upstairs balcony.  The other key is the master key for all the other doors
    in the house (except the electronic lock).

  h5 Security during your stay
  p.strong.red.
    Please double check that each window and door is securely locked before leaving the house.
    The window locks must me pointing left and the all patio door latches engaged.

  h5 Leaving the property during the day
  p.
    Make sure all windows and doors are locked, air conditioners, fans and lights are switched off.

  h5 At the end of your stay
  p.
    If there are any wet or damp towels, please hang them to dry on the balcony. Wash any dishes.
    Leave the washing machine and dishwasher doors open.
  p.strong.
    Please make sure that ALL the windows and doors are locked. Air conditioners, fans and lights are off.
    Throw away all the garbage.

  h5 Internet, music, TV, power
  p.
    Please follow information in your booking instructions to access internet.
    There is a Bluetooth portable speaker that can be connected to the TV or your phone.
    You can cast from your Netflix account or any other internet service from your phone or tablet
    to the TV.

  h5 Wind
  p.
    With windows open the house is nice and breezy. Please use outside door latches and door stoppers to keep the doors from slamming.

  h5 Garbage
  p.
    There is a garbage bin sunk-into the ground near the car park. Place garbage in plastic bags before putting it in this bin.
    Bins for recyclable garbage are located at the gates.
    There is a waste-disposal unit in the left kitchen sink. It is operated by the cord under the sink.
    Garbage bags are kept in the bottom cupboard to the left of the kitchen sink.
  p.strong.
    Do not keep food-waste in the bin inside the house overnight as it will attract insects.

  h5 Laundry
  p.
    There is a washer-dryer in the house with a very useful 14 minute cycle for all your beach towels and swim wear.
    We usually dry clothes in the balcony on the clothes rack.
    There is also an iron and ironing board.

  h5 Air conditioners and Fans
  p.
    The house is quite breezy and we tend to use the air conditioners only at night. We find that the best setting is 'dry' or 'auto'.
    We have fans running and windows open during the day when we are in the house.
  p.strong.
    Make sure that windows and bedroom doors are closed when air conditioners are running. Remember to turn it off when you leave the house.

  br
  br
