extends layout

block content
  h2 Home manual
  p.
    Welcome to 5 Gunsite! We hope you enjoy your stay.
    Please read through the Home Manual to make your stay as comfortable as possible.
  p
    h5 Arriving to the property
  p.
    5 Gunsite is a gated development!
    Use the code provided in your booking instructions to open the gate when you first arrive.
    You will find the Gate Remote control (blue) on a glass console table as you enter the house.

  h5 Parking
  p.
    There are 2 parking spot marked with nb 5.  The first one (closest to the house) will be on your
    left as you drive in. The second one is on your right after the pool.

  h5 Getting into the house
  p.
    Use the code provided in your booking instructions to open and close the electronic lock on the front door.

  h5 Opening the doors
    Appon arrival
