extends layout

block content
  h2 Welcome!
  h5 Directions from the Grantley Adams International Airport
  p For directions from the Grantley Adams International Airport to 5 Gunsite via Tom Adams Hwy click
    span=' '
    a( href='https://www.google.com/maps/dir/Grantley+Adams+International+Airport,+Barbados/13.0829717,-59.5950261/data=!4m10!4m9!1m5!1m4!1s0x8c43f4dd1a08348b:0x3275a510f358e8e8!8m2!3d13.0799387!4d-59.4872422!1m1!4e1!3e0?utm_source=mstt_0' target="directions" ) here.

  h5 From Grantley Adams International Airport to 5 Gunsite via Tom Adams Hwy
  p.
    19-20 min (14 km) west from the Airport.
  br
  br
