extends layout

block content
  h2 Welcome!
  h5 Directions
  p For directions from the Airport click
    span=' '
    a( href='https://www.google.com/maps/dir/Grantley+Adams+International+Airport,+Barbados/13.0829717,-59.5950261/data=!4m10!4m9!1m5!1m4!1s0x8c43f4dd1a08348b:0x3275a510f358e8e8!8m2!3d13.0799387!4d-59.4872422!1m1!4e1!3e0?utm_source=mstt_0' target="directions" ) here.

  h5 From Grantley Adams International Airport to 5 Gunsite via Tom Adams Hwy.
  p.
    19 min (14 km)
    19 min in current traffic
  ol
    li Head southeast toward Airport Access Rd
    li Turn right
    li Turn right onto S Ramp
    li Turn left onto Airport Access Rd
    li Turn left onto Tom Adams Hwy
    li At the roundabout, take the 1st exit and stay on Tom Adams Hwy
    li Exit the roundabout onto Tom Adams Hwy
    li At the roundabout, take the 1st exit and stay on Tom Adams Hwy
    li Exit the roundabout onto Tom Adams Hwy
    li At the roundabout, take the 2nd exit and stay on Tom Adams Hwy
    li Exit the roundabout onto Tom Adams Hwy
    li At the roundabout, take the 2nd exit onto Errol Barrow Hwy
    li Exit the roundabout onto Errol Barrow Hwy
    li At the roundabout, take the 1st exit onto Rendezvous Hill
    li Exit the roundabout onto Rendezvous Hill
    li Turn right onto Forde's Rd
    li Turn left
    li Turn right
    li Turn left
    li Arrive at location: Eastmond Road
  br
  br
