doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    body
      div.fixed-top
          include header.pug
          include menu.pug

      div.container-fluid
        include header.pug
        include menu.pug

        block content

      include footer.pug
