header.bg-light
  block menu
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.text-dark(href=".")="Home"
      li.nav-item
        a.nav-link.text-dark(href="homeInfo")= "Home Info"
      li.nav-item
        a.nav-link.text-dark(href="photos")= "More Photos"
      li.nav-item
        a.nav-link.text-dark(href="bookings")= "Bookings"  
