extends layout

block content
  h2 Photos of 5 Gun Site, Barbados

  h5 Photo Album
  p See photos from 5 Gunsite
    span=' '
    a( href='https://drive.google.com/drive/folders/1K1xajRIckfhy8EwnvKDmfP-aDuVDp-jD' target="photos" ) here.
